
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(galaxy.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.painel{
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.container {
    text-align: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.534);
    backdrop-filter: blur(0.6px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.438);
    box-shadow:
        -2.7px -2.7px 0.8px rgba(0, 0, 0, 0.095),
        -4.7px -4.7px 1.8px rgba(0, 0, 0, 0.194),
        -5.6px -5.6px 3.1px rgba(0, 0, 0, 0.29),
        -5.2px -5.2px 4.7px rgba(0, 0, 0, 0.381),
        -3.4px -3.4px 6.8px rgba(0, 0, 0, 0.467),
        0.3px 0.3px 9.8px rgba(0, 0, 0, 0.545),
        6.8px 6.8px 14px rgba(0, 0, 0, 0.611),
        17.4px 17.4px 20.6px rgba(0, 0, 0, 0.662),
        35.8px 35.8px 32.3px rgba(0, 0, 0, 0.68),
        100px 100px 59px rgba(0, 0, 0, 0.56);
}

.pedido {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa60;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#painelPedidos {
    margin-top: 20px;
}

#statusPedido {
    font-weight: bold;
}

.status {
    margin-left: 20px;
}


.limparPedidos {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;
}

.limparPedidos,
.limparPedidos span {
    -webkit-transition: 200ms;
    transition: 200ms;
}

.limparPedidos .text {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

.limparPedidos .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    -webkit-transform: translateX(110px);
    -ms-transform: translateX(110px);
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.limparPedidos svg {
    width: 15px;
    fill: #eee;
}

.limparPedidos:hover {
    background: #ff3636;
}

.limparPedidos:hover .text {
    color: transparent;
}

.limparPedidos:hover .icon {
    width: 140px;
    border-left: none;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.limparPedidos:focus {
    outline: none;
}

.limparPedidos:active .icon svg {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}







