
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(galaxy.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.painel{
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.container {
    text-align: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.534);
    backdrop-filter: blur(0.6px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.438);
    box-shadow:
        -2.7px -2.7px 0.8px rgba(0, 0, 0, 0.095),
        -4.7px -4.7px 1.8px rgba(0, 0, 0, 0.194),
        -5.6px -5.6px 3.1px rgba(0, 0, 0, 0.29),
        -5.2px -5.2px 4.7px rgba(0, 0, 0, 0.381),
        -3.4px -3.4px 6.8px rgba(0, 0, 0, 0.467),
        0.3px 0.3px 9.8px rgba(0, 0, 0, 0.545),
        6.8px 6.8px 14px rgba(0, 0, 0, 0.611),
        17.4px 17.4px 20.6px rgba(0, 0, 0, 0.662),
        35.8px 35.8px 32.3px rgba(0, 0, 0, 0.68),
        100px 100px 59px rgba(0, 0, 0, 0.56);
}

.pedido {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa60;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#painelPedidos {
    margin-top: 20px;
}

#statusPedido {
    font-weight: bold;
}

.status {
    margin-left: 20px;
    
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}








